 <!-- Hero -->
    <div class="bg-neutral-900">
      <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
        <h1 class="font-semibold text-white text-5xl md:text-6xl">
          <span class="text-[#ff0] ">Local Expert for Local Business:</span> Empowering Local Businesses to Succeed
        </h1>
        <div class="max-w-4xl">
          <p class="mt-5 text-neutral-400 text-lg">
            Discover how I can help your local business thrive online with tailored digital marketing strategies, SEO optimization, and website development. Let's connect and grow your business together!
          </p>
        </div>
      </div>
    </div>
    <!-- End Hero -->