<!-- Blog Section -->
<section class="py-20 bg-gradient-to-b from-gray-100 to-gray-200 dark:from-gray-900 dark:to-gray-800">
  <div class="max-w-7xl mx-auto px-8">
    <h2 class="text-5xl font-extrabold text-center text-gray-800 dark:text-gray-100 mb-4">Latest Blogs</h2>
    <p class="text-center text-gray-600 dark:text-gray-300 mb-8">Explore insights, tips, and stories from our world.</p>
  
    <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-3">
      {% for post in site.posts limit:3 %}
      <article class="group relative overflow-hidden rounded-2xl shadow-2xl transition-transform transform hover:scale-105 hover:shadow-3xl">
        <div class="relative h-64 w-full">
          <img src="{{site.baseurl}}/assets/images/{{ post.image|default:'cd_logo.svg' }}" alt="{{ post.title }}" class="h-full w-full object-cover transition-opacity group-hover:opacity-75">
          <div class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition-all"></div>
        </div>
        <div class="p-6 bg-white dark:bg-gray-800">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-2">{{ post.title }}</h3>
          <p class="text-gray-600 dark:text-gray-400 mb-4">{{ post.excerpt | strip_html }}...</p>
          <a href="{{ post.url |prepend: site.baseurl}}" class="mt-4 inline-block text-indigo-600 dark:text-indigo-400 font-medium hover:underline">Read More →</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>